<mat-card >
    <mat-card-content>Trabalho Angular</mat-card-content>
    <br>
    <label for="">Nome Produto</label>
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Tesoura</mat-label>
          <input matInput #message maxlength="256" placeholder="Tesoura">
        </mat-form-field>
        <br>
        <label for="">Tipo do Produto</label>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>objetos Cortantes</mat-label>
              <input matInput #message maxlength="256" placeholder="Tesoura">
            </mat-form-field>
          </form>
      </form>
      <br>
      <div class="example-button-row">
        <button mat-button style="background-color: green;color: white;">Criar</button>
        <button mat-button style="background-color: red;color: white;">Deletar</button>
      </div>
  </mat-card>
  