
<mat-toolbar style="background-color: lightblue;">
  <button  mat-mini-fab  class="example-icon" (click)="voltar()" >
    <mat-icon  fontIcon="home">a</mat-icon>
  </button>
  <button style="margin-left: 5px;" mat-mini-fab (click)="cadastrar()">
    <mat-icon fontIcon="edit_square" >menu</mat-icon>
  </button>
  <button style="margin-left: 5px;" mat-mini-fab (click)="listar()">
    <mat-icon fontIcon="assignment_ind" >menu</mat-icon>
  </button>
  
  <span style="margin-left: 10px;">Trabalho Projeto Integrador</span>
  
</mat-toolbar>

<router-outlet/>

